/* variables */
:root {
  --color1: #315239;
  --opacity: #f9e0db88;
  --foreground: #fde9ea;
  --accent: #c46666;
  --highlight: #c4666677;
  --edge: #fde9ea88;
  --shadow: #0a241188;
}

/* fonts */
@font-face {
  font-family: heading;
  src: url(assets/font/Corben.ttf);
}
@font-face {
  font-family: title;
  src: url(assets/font/Montserrat.ttf);
}
@font-face {
  font-family: common;
  src: url(assets/font/Outfit.ttf);
}
@font-face {
  font-family: handwritten;
  src: url(assets/font/Bristol.otf);
}

/* scrollbar & selection */
::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--opacity);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--foreground);
}
::-webkit-scrollbar-thumb:active {
  background-color: var(--accent);
}
::-webkit-scrollbar-corner,
::-webkit-scrollbar-button {
  background-color: transparent;
}

::selection {
  background-color: var(--highlight);
}

body {
  margin: 0;
  background-color: var(--color1);
  background-image: url("assets/background/plastic.png"),
    url("assets/background/monstera.png");
  background-repeat: no-repeat;
  background-position: left bottom, right bottom;
  background-size: contain;
  background-attachment: fixed;
  color: var(--foreground);
  font-family: common;
}

/* glassmorphism */
nav,
section {
  background-color: var(--opacity);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid var(--edge);
}

/* shadow */
nav,
section {
  box-shadow: 0 10px 25px var(--shadow);
}

h1,
footer {
  text-shadow: 0 5px 5px var(--shadow);
}

/* navbar */
nav {
  position: fixed;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  border-radius: 20px;
  z-index: 1;
  text-align: center;
}

nav ul {
  display: inline-flex;
  margin: 6px;
  padding: 0;
}

nav li {
  display: inline-flex;
  margin: 6px;
}

nav a {
  transition: 0.4s;
  background-color: var(--foreground);
  width: 60px;
  height: 60px;
  border-radius: 12px;
  line-height: 60px;
  font-size: 25px;
  color: var(--accent);
}

nav a:hover,
nav a:focus {
  transition: 0.2s;
  background-color: var(--highlight);
  color: var(--foreground);
  transform: translateY(-10px);
  outline: none;
}

.tooltip {
  transition: 0.2s;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  pointer-events: none;
  bottom: 110%;
  background-color: var(--opacity);
  border-radius: 8px;
  padding: 6px;
  color: var(--foreground);
  font-size: 18px;
  line-height: 18px;
  left: 50%;
  transform: translateX(-50%);
}

nav a:hover .tooltip,
nav a:focus .tooltip {
  visibility: visible;
  opacity: 1;
}

nav a:active .tooltip {
  transition: 0s;
  visibility: hidden;
  opacity: 0;
}

nav a:active {
  transition: 0.1s;
  background-color: var(--accent);
  color: var(--foreground);
  transform: translateY(4px);
}

nav a.checked {
  background-color: var(--accent);
  color: var(--foreground);
}

main {
  height: min-content;
  grid-template-columns: 1fr 1fr;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
}

section {
  border-radius: 25px;
  padding: 3%;
  margin: 10px;
}

section p {
  font-size: 20px;
  font-weight: 500;
  margin: 5px 0;
}

section a {
  transition: 0.2s;
  color: var(--foreground);
  text-decoration: none;
  background-color: var(--highlight);
  padding: 0px 5px;
  border-radius: 5px;
}

section a:hover,
section a:focus {
  background-color: var(--accent);
  outline: none;
}

section a:active {
  transition: 0.1s;
  background-color: var(--foreground);
  color: var(--accent);
}

h1 {
  font-family: heading;
  font-size: 30px;
  text-align: center;
  margin: 0 0 20px 0;
}

h2 {
  font-family: heading;
  font-size: 20px;
  margin: 5px 0;
}

footer {
  pointer-events: none;
  font-family: handwritten;
  font-size: 20px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

footer p {
  margin: 0;
}

#about .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

#about img {
  pointer-events: none;
  height: 150px;
  padding: 20px;
}

#projects a {
  display: block;
  font-size: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#projects a:first-of-type {
  border-radius: 14px 14px 0 0;
}

#projects a:last-of-type {
  border-radius: 0 0 14px 14px;
  margin-bottom: 0;
}

#projects a:only-of-type {
  border-radius: 14px;
}

#projects h2 {
  font-weight: 600;
  margin: 0;
}

#projects p {
  font-weight: 500;
  margin: 0;
}

#about #spotify-playlist {
  cursor: url("assets/cursors/spotify-playlist.png"), auto;
}

#projects #icons {
  cursor: url("assets/cursors/icons.png"), auto;
}

#projects #sweet-berries {
  cursor: url("assets/cursors/sweet-berries.png"), auto;
}

#kanye {
  background-image: linear-gradient(var(--edge), var(--shadow)),
    url("assets/background/kanye-sus.gif");
  background-size: cover;
  background-position: center;
}

/* Mobile Phones Portrait */
@media screen and (max-width: 780px) {
  body {
    background-image: none;
  }

  nav ul {
    display: block;
  }

  nav ul.navigation li {
    box-sizing: border-box;
  }

  nav ul.navigation a {
    box-sizing: border-box;
    width: 135px;
  }

  main {
    margin-bottom: 200px;
    margin-top: 20px;
  }

  footer {
    display: none;
  }

  #projects a {
    display: block;
  }
}
