/* variables */
:root {
  --background: #11111b;
  --opacity: #18182588;
  --light: #31324444;
  --foreground: #cdd6f4;
  --accent: #96a3f3;
  --highlight: #1e1e2e;
  --edge: #31324488;
  --shadow: #11111b88;
}

/* fonts */
@font-face {
  font-family: heading;
  src: url(assets/font/Corben.ttf);
}
@font-face {
  font-family: common;
  src: url(assets/font/Outfit.ttf);
}
@font-face {
  font-family: handwritten;
  src: url(assets/font/Bristol.otf);
}

/* animations */
@keyframes nav {
  from {
    transform: translateX(-50%) translateY(200%);
  }
  to {
    transform: translateX(-50%) translateY(0);
  }
}
@keyframes window {
  from {
    transform: scale(0.5) translateY(100%);
    opacity: 0;
    box-shadow: none;
  }
  to {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}
@keyframes content {
  from {
    background-color: var(--opacity);
  }
}

/* scrollbar & selection */
::-webkit-scrollbar {
  background-color: transparent;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--opacity);
  border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--foreground);
}
::-webkit-scrollbar-thumb:active {
  background-color: var(--accent);
}
::-webkit-scrollbar-corner,
::-webkit-scrollbar-button {
  background-color: transparent;
}

::selection {
  background-color: var(--accent);
  color: var(--highlight);
}

body {
  margin: 0;
  background-color: var(--background);
  background-image: url("assets/background/plastic.webp"),
    url("assets/background/curve.webp"), url("assets/background/monstera.webp");
  background-repeat: no-repeat;
  background-position: left bottom, bottom, right bottom;
  background-size: contain;
  background-attachment: fixed;
  color: var(--foreground);
  font-family: common;
  /* scrollbar fix firefox */
  scrollbar-color: var(--opacity) transparent;
}

/* glassmorphism */
nav,
section {
  background-color: var(--opacity);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  border: 1px solid var(--edge);
}

/* shadow */
nav,
section {
  box-shadow: 0 10px 25px var(--shadow);
}

footer {
  text-shadow: 0 5px 5px var(--shadow);
}

/* navbar */
nav {
  animation: nav 0.4s;
  position: fixed;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  border-radius: 20px;
  z-index: 1;
  text-align: center;
}

nav ul {
  display: inline-flex;
  margin: 6px;
  padding: 0;
}

nav li {
  display: inline-flex;
  margin: 6px;
}

nav a {
  transition: 0.4s;
  background-color: var(--highlight);
  width: 60px;
  height: 60px;
  border-radius: 12px;
  line-height: 60px;
  font-size: 25px;
  color: var(--foreground);
}

nav a:hover {
  transition: 0.2s;
  background-color: var(--accent);
  color: var(--highlight);
  transform: translateY(-10px);
  outline: none;
}

.tooltip {
  transition: 0.2s;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  pointer-events: none;
  bottom: 110%;
  background-color: var(--light);
  border-radius: 8px;
  padding: 6px;
  color: var(--foreground);
  font-size: 18px;
  line-height: 18px;
  left: 50%;
  transform: translateX(-50%);
}

nav a:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

nav a:active .tooltip {
  transition: 0s;
  visibility: hidden;
  opacity: 0;
}

nav a:active {
  transition: 0.1s;
  background-color: var(--foreground);
  color: var(--accent);
  transform: translateY(4px);
}

nav a.checked {
  background-color: var(--foreground);
  color: var(--highlight);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

section {
  animation: window 0.5s cubic-bezier(0.4, 0.2, 0.3, 1);
  display: none;
}

section p {
  font-size: 20px;
  font-weight: 500;
  margin: 5px 0;
}

section a {
  transition: 0.2s;
  color: var(--highlight);
  text-decoration: none;
  background-color: var(--foreground);
  padding: 0px 5px;
  border-radius: 5px;
  font-size: 20px;
}

section a:hover {
  background-color: var(--accent);
  color: var(--highlight);
  outline: none;
}

section a:active {
  transition: 0.1s;
  background-color: var(--foreground);
  color: var(--accent);
}

h1 {
  font-family: heading;
  font-size: 27px;
  text-align: center;
  margin: 0;
}

h2 {
  font-family: heading;
  font-size: 20px;
  margin: 0;
}

footer {
  pointer-events: none;
  font-family: handwritten;
  font-size: 20px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

footer p {
  margin: 0;
}

#about {
  align-items: center;
  width: 525px;
  box-sizing: border-box;
  border-radius: 24px;
  padding: 16px;
}

#about img {
  display: block;
  pointer-events: none;
  height: 200px;
  border-radius: 12px;
  margin-right: 20px;
}

#projects {
  width: 600px;
  height: 300px;
  border-radius: 24px;
}

#projects div {
  box-sizing: border-box;
  padding: 16px;
}

#tabs {
  width: 30%;
  border-radius: 24px 0 0 24px;
  border-right: none;
}

#tabs a {
  font-size: 20px;
  padding: 6px 12px;
  display: block;
  border-radius: 0px;
  background-color: var(--light);
  color: var(--foreground);
}

#tabs a:hover {
  background-color: var(--accent);
  color: var(--highlight);
}
#tabs a:active {
  background-color: var(--foreground);
  color: var(--accent);
}
#tabs a.checked {
  background-color: var(--foreground);
  color: var(--highlight);
}

#tabs a:first-of-type {
  border-radius: 12px 12px 0 0;
}
#tabs a:last-of-type {
  border-radius: 0 0 12px 12px;
  margin-bottom: 0;
}
#tabs a:only-of-type {
  border-radius: 12px;
}

.content {
  animation: 0.5s content;
  display: none;
  background-color: var(--light);
  border-radius: 0 24px 24px 0;
  border-left: none;
  width: 70%;
  text-align: justify;
  overflow-y: scroll;
}

.content img {
  box-sizing: border-box;
  width: 100%;
  border-radius: 12px;
  margin-bottom: 5px;
}

/* display first */
section:first-of-type {
  display: flex;
}

.content:nth-of-type(2) {
  display: block;
}

/* cursors */
#about #spotify-playlist {
  cursor: url("assets/cursors/spotify-playlist.webp"), auto;
}

#tabs #radiohead-link {
  cursor: url("assets/cursors/radiohead.webp"), auto;
}

#tabs #chliq-link {
  cursor: url("assets/cursors/chliq.webp"), auto;
}

#tabs #icons-link {
  cursor: url("assets/cursors/icons.webp"), auto;
}

#tabs #sweet-berries-link {
  cursor: url("assets/cursors/sweet-berries.webp"), auto;
}

/* Mobile Phones Portrait */
@media screen and (max-width: 780px) {
  nav ul {
    display: block;
  }

  nav ul.navigation a {
    box-sizing: border-box;
    width: 135px;
  }
}
