/* variables */
:root {
  --base: #1e1e2e;
  --opacity: #18182588;
  --dark: #11111b88;
  --foreground: #cdd6f4;
  --accent: #96a3f3;
  --edge: #313244;
  --shadow: #11111b;
  --subtext: #7f849c;
}

/* fonts */
@font-face {
  font-family: heading;
  src: url(assets/font/Corben.ttf);
  font-display: swap;
}
@font-face {
  font-family: common;
  src: url(assets/font/Outfit.ttf);
  font-display: swap;
}
@font-face {
  font-family: handwritten;
  src: url(assets/font/Bristol.otf);
  font-display: swap;
}

/* animations */
@keyframes loading-screen-disappear {
  from {
    height: 100vh;
    width: 100vw;
  }
  50% {
    height: 90vh;
    width: 90vh;
    border-radius: 50%;
  }
  to {
    height: 0;
    width: 0;
    border-radius: 50%;
  }
}
@keyframes background-load {
  from {
    transform: translateY(25%);
    opacity: 0;
  }
}
@keyframes nav {
  from {
    transform: translateX(-50%) translateY(200%);
  }
  to {
    transform: translateX(-50%) translateY(0);
  }
}
@keyframes window {
  from {
    transform: translateY(50%);
    opacity: 0;
    box-shadow: none;
  }
}
@keyframes content {
  from {
    background-color: var(--opacity);
  }
}

/* scrollbar & selection */
::-webkit-scrollbar {
  background-color: transparent;
  width: 7px;
  height: 9px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--edge);
  border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--foreground);
}
::-webkit-scrollbar-thumb:active {
  background-color: var(--accent);
}
::-webkit-scrollbar-corner,
::-webkit-scrollbar-button {
  background-color: transparent;
}

::selection {
  background-color: var(--accent);
  color: var(--base);
}

/* scrollbar fix firefox */
* {
  scrollbar-color: var(--edge) transparent;
  scrollbar-width: thin;
}

/* hover */
@media (hover: hover) and (pointer: fine) {
  nav a:hover {
    transition: 0.2s;
    background-color: var(--accent);
    color: var(--base);
    transform: translateY(-10px);
    outline: none;
    box-shadow: 0 15px 15px var(--dark);
  }

  nav a:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }

  article a:hover {
    display: inline-block;
    background-color: var(--accent);
    color: var(--base);
    outline: none;
  }

  #tabs a:hover {
    background-color: var(--accent);
    color: var(--base);
  }
}

#loading-screen {
  background-color: var(--shadow);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 5;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
}

#background {
  display: none;
  position: fixed;
  height: 102vh;
  width: 100vw;
  pointer-events: none;
}
#background img {
  animation: background-load 0.8s ease;
  position: absolute;
  transition: 0.2s ease-out;
  height: 100%;
}
#background :nth-child(1) {
  animation-delay: 0.1s;
  left: -1vw;
}
#background :nth-child(2) {
  left: 0;
  right: 0;
  margin-inline: auto;
}
#background :nth-child(3) {
  animation-delay: 0.2s;
  right: -2vw;
}

/* general */
body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(var(--shadow), var(--base)) no-repeat;
  background-color: var(--base);
  color: var(--foreground);
  font-family: common;
}

/* glassmorphism */
nav,
article {
  background-color: var(--opacity);
  backdrop-filter: blur(32px);
  -webkit-backdrop-filter: blur(32px);
  border: 1px solid var(--edge);
}

/* shadow */
nav,
article {
  box-shadow: 0 12px 32px var(--shadow);
}

footer {
  text-shadow: 0 5px 5px var(--shadow);
}

/* navbar */
nav {
  animation: nav 0.4s;
  position: fixed;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  border-radius: 20px;
  z-index: 2;
  text-align: center;
}

nav ul {
  display: inline-flex;
  margin: 6px;
  padding: 0;
}

nav li {
  display: inline-flex;
  margin: 6px;
}

nav a {
  transition: 0.4s;
  background-color: var(--shadow);
  width: 60px;
  height: 60px;
  border-radius: 12px;
  line-height: 60px;
  font-size: 25px;
  color: var(--foreground);
}

.tooltip {
  transition: 0.2s;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  pointer-events: none;
  bottom: 125%;
  background-color: var(--dark);
  border-radius: 8px;
  padding: 6px;
  color: var(--foreground);
  font-size: 18px;
  line-height: 18px;
  left: 50%;
  transform: translateX(-50%);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

nav a:active .tooltip {
  transition: 0s;
  visibility: hidden;
  opacity: 0;
}

nav a:active {
  transition: 0.1s;
  background-color: var(--foreground);
  color: var(--accent);
  transform: translateY(4px);
  box-shadow: none;
}

nav a.checked {
  background-color: var(--foreground);
  color: var(--shadow);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

section {
  display: none;
  z-index: 1;
}

article {
  animation: window 0.5s cubic-bezier(0.4, 0.2, 0.3, 1);
  max-width: 90vw;
  border-radius: 24px;
  display: flex;
  margin-bottom: 16px;
}

article p {
  font-size: 20px;
  font-weight: 500;
  margin: 5px 0;
}

article a {
  transition: 0.2s;
  color: var(--shadow);
  text-decoration: none;
  background-color: var(--foreground);
  padding: 0px 5px;
  border-radius: 5px;
  font-size: 20px;
}

article a:active {
  transition: 0.1s;
  background-color: var(--foreground);
  color: var(--accent);
}

h1 {
  font-family: heading;
  font-size: 27px;
  text-align: center;
  margin: 0;
}
h2 {
  font-family: heading;
  font-size: 20px;
  margin: 0;
}
h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

footer {
  pointer-events: none;
  font-family: handwritten;
  font-size: 20px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

footer p {
  margin: 0;
}

#about article {
  align-items: center;
  width: 525px;
  box-sizing: border-box;
  padding: 16px;
  margin: 0 0 16px auto;
}

#about img {
  display: block;
  pointer-events: none;
  border-radius: 12px;
  margin-right: 20px;
}

#about #portrait {
  height: 200px;
}

#lastfm {
  display: none;
  background: var(--dark);
  max-width: min-content;
  text-align: right;
  justify-content: right;
}
#lastfm-image {
  width: 85px;
  margin-left: 16px;
}
#lastfm-image img {
  max-width: 100%;
}
#lastfm-info {
  max-width: calc(100% - (85px + 16px));
}
#lastfm-status {
  color: var(--subtext);
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}
#lastfm-track {
  font-weight: bold;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}
#lastfm-artist {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

#lastfm #nowplaying {
  display: none;
  border-radius: 0;
  margin: 0;
  height: 15px;
}

#lastfm.nowplaying {
  background-color: var(--opacity);
}
#lastfm.nowplaying #nowplaying {
  display: inline;
}

#projects article {
  width: 600px;
  height: 300px;
}

#projects div {
  box-sizing: border-box;
  padding: 16px;
}

#tabs {
  width: 30%;
  border-radius: 24px 0 0 24px;
  border-right: none;
  /* firefox background transition twitchy */
  overflow-y: scroll;
}

#tabs a {
  font-size: 20px;
  padding: 6px 12px;
  display: block;
  border-radius: 0px;
  background-color: var(--dark);
  color: var(--foreground);
}

#tabs a:active {
  background-color: var(--foreground);
  color: var(--accent);
}
#tabs a.checked {
  background-color: var(--foreground);
  color: var(--shadow);
}

#tabs a:first-of-type {
  border-radius: 12px 12px 0 0;
}
#tabs a:last-of-type {
  border-radius: 0 0 12px 12px;
  margin-bottom: 0;
}
#tabs a:only-of-type {
  border-radius: 12px;
}

.content {
  animation: 0.5s content;
  display: none;
  background-color: var(--dark);
  border-radius: 0 24px 24px 0;
  border-left: none;
  width: 70%;
  text-align: justify;
  /* firefox background transition twitchy */
  overflow-y: scroll;
}

.content img {
  box-sizing: border-box;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 5px;
}

.content a:last-child {
  box-sizing: border-box;
  position: sticky;
  display: block;
  text-align: center;
  width: 50%;
  margin-top: 16px;
  margin-inline: auto;
  height: 48px;
  line-height: 48px;
  border-radius: 8px;
  bottom: 0;
  box-shadow: 0 15px 15px var(--dark);
}

.content a:last-child:hover {
  width: 100%;
}

/* display first */
section:first-of-type {
  display: block;
}

.content:nth-of-type(2) {
  display: block;
}

#plant {
  box-sizing: border-box;
  max-width: 100%;
  padding: 16px;
}

#plant .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 16px;
  grid-template-areas:
    "stats stats stats"
    "interact interact upgrade"
    "interact interact upgrade"
    "interact interact upgrade";
  width: 700px;
  height: 400px;
}
#plant .stats {
  grid-area: stats;
}
#plant .interact {
  grid-area: interact;
}
#plant .upgrade {
  grid-area: upgrade;
}

#plant article {
  padding: 16px;
  margin: 0;
}

/* cursors */
#about #spotify-playlist {
  cursor: url("assets/cursors/spotify-playlist.webp"), auto;
}

#tabs #game-link {
  cursor: url("assets/cursors/game.webp"), auto;
}

#tabs #radiohead-link {
  cursor: url("assets/cursors/radiohead.webp"), auto;
}

#tabs #chliq-link {
  cursor: url("assets/cursors/chliq.webp"), auto;
}

#tabs #icons-link {
  cursor: url("assets/cursors/icons.webp"), auto;
}

#tabs #sweet-berries-link {
  cursor: url("assets/cursors/sweet-berries.webp"), auto;
}

/* Mobile Phones Portrait */
@media screen and (max-width: 780px) {
  #background :nth-child(1),
  #background :nth-child(2) {
    display: none;
  }

  main {
    align-items: flex-start;
    height: fit-content;
    padding-top: 5vw;
    padding-bottom: calc(
      166px + 25px
    ); /* should be height of navbar + margin */
  }

  nav ul {
    display: block;
  }

  nav ul.navigation a {
    box-sizing: border-box;
    width: calc((312px / 3) - 12px - 8px);
  }

  footer {
    display: none;
  }

  article {
    display: block;
  }

  #about img {
    object-fit: cover;
    object-position: top;
  }

  #about #portrait {
    width: 100%;
  }

  #lastfm {
    max-width: 90vw;
  }

  #projects article {
    height: fit-content;
  }

  #tabs {
    display: inline-flex;
    overflow-x: scroll;
    width: 100%;
  }

  #tabs a {
    display: inline;
    white-space: nowrap;
    margin-inline: 3px;
    border-radius: 12px;
  }

  #tabs a:first-of-type {
    border-radius: 12px;
    margin-left: 0;
  }
  #tabs a:last-of-type {
    border-radius: 12px;
    margin-right: 0;
  }
  #tabs a:only-of-type {
    border-radius: 12px;
  }

  .content {
    animation: 0.5s content;
    background-color: var(--dark);
    border-radius: 24px;
    width: 100%;
    text-align: justify;
    overflow-y: auto;
  }

  .content a:last-child {
    width: 100%;
  }

  #plant .grid {
    display: block;
    max-width: 100%;
  }
  #plant article {
    margin-bottom: 16px;
  }
}
