:root {
  --background: #111;
  --foreground: #1c1c1c;
  --text: #f3f3f3;
}

body {
  margin: 0;
  color: var(--text);
  background-color: var(--background);
}

nav {
  position: fixed;
  margin: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0;
}

nav a {
  display: block;
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  background-color: var(--foreground);
  color: var(--text);
  text-decoration: none;
  border: 2px solid #333;
  border-radius: 10px;
  line-height: 76px;
  text-align: center;
}

main {
  box-sizing: border-box;
  padding: 5px;
  padding-left: 95px;
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr 2fr;
}

section {
  margin: 5px;
  background-color: var(--foreground);
  border: 2px solid #333;
  border-radius: 10px;
  
}

section#mockup {
  grid-row: 1/3;
  display:flex;
  align-items: center;
  justify-content: center;
}

#mockup img {
  box-sizing: border-box;
  height: 75%;
  padding-inline: 50px;
}