* {
  padding: 0px;
  margin: 0px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  height: 100vh;
}

#wrapper {
  position: absolute;
  height: fit-content;
  width: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#wrap {
  position: absolute;
  line-height: 25vh;
  font-size: 27vh;
  transform: translate(-2.225vh);
}

#disc {
  top: 3vh;
  height: 24.1625vh;
  line-height: 25vh;
  font-size: 25vh;
  text-align: center;
  animation: spin 2s infinite linear;
}

#red {
  z-index: 1;
  position: absolute;
  line-height: 25vh;
  font-size: 9vh;
  transform: translate(20vh);
}

/* Desktop Safari */
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    #wrap {
      position: absolute;
      line-height: 25vh;
      font-size: 27vh;
      transform: translate(-1.3vh) rotate(-90deg);
    }

    #disc {
      top: 3vh;
      height: 24.2vh;
      line-height: 25vh;
      font-size: 25vh;
      text-align: center;
      animation: spin 2s infinite linear;
    }

    #red {
      z-index: 1;
      position: absolute;
      line-height: 25vh;
      font-size: 9vh;
      transform: translate(16.3vh) rotate(90deg);
    }
  }
}

/* iPhones */
@supports (-webkit-touch-callout: none) {
  #wrap {
    position: absolute;
    line-height: 25vh;
    font-size: 27vh;
    transform: translate(-1.3vh) rotate(-90deg);
  }

  #disc {
    top: 3vh;
    height: 24.2vh;
    line-height: 25vh;
    font-size: 25vh;
    text-align: center;
    animation: spin 2s infinite linear;
  }

  #red {
    z-index: 1;
    position: absolute;
    line-height: 25vh;
    font-size: 9vh;
    transform: translate(16.3vh) rotate(90deg);
  }
}
