header {
    position: fixed;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--bg3o);
    box-shadow: 0px 5px 10px var(--bg4o);
}

/* Small Desktop Screen */
@media screen and (max-width: 1000px) {

}

/* Mobile Phones Portrait */
@media screen and (max-width: 780px) {

}
